<!DOCTYPE html>
<html>
    <head>
        <title>Sync Note</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="hello">
            <h1 id="typing-text"></h1>
            <div id="input-container">
                <textarea id="user-input" rows="10" cols="50"></textarea>
                
            </div>
            <button id="submit-button">Отправить</button>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>