<!DOCTYPE html>
<html>
    <head>
        <title>Sync Note</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="hello" >
            <h1 id="typing-text"></h1>
            <form id="text-form" action="/save" method="POST">
                <textarea id="user-input" name="user_text" rows="10" cols="50"></textarea>
                <button id="submit-button" type="submit">Отправить</button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>